<div class="container">
    <br>
    <h4 style="margin-left:20px" class="tittle mb-6">Configuración general</h4>
    <hr>
    <form class="col-md-10">
        <div class="form-row">
            <div class="form-group col-md-6">
                <fieldset disabled>
                    <label for="inputNombre">Nombre</label>
                    <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                </fieldset>
            </div>
            <div class="form-group col-md-6">
                <fieldset disabled>
                    <label for="inputApellido">Apellido</label>
                    <input type="text" class="form-control" id="inputApellido" placeholder="Apellido">
                </fieldset>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
            </div>
        </div>
        <div class="form row">
            <div class="form-group col-md-8">
                <label for="inputDireccion">Dirección</label>
                <input type="text" class="form-control" id="inputDireccion" placeholder="1234 Main St">
            </div>
            <div class="form-group col-md-4">
                <label for="inputTelefono">Telefono</label>
                <input type="number" class="form-control" id="inputTelefono" placeholder="Telefono">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputDept">Departamento</label>
                <select id="inpuDept" class="form-control">
                    <option selected>Elige...</option>
                    <option>...</option>
                    </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputCity">Ciudad</label>
                <select id="inputCity" class="form-control">
                    <option selected>Elige...</option>
                    <option>...</option>
                    </select>
            </div>
            <div class="form-group col-md-4">
                <fieldset disabled>
                    <label for="inputNit">Nit</label>
                    <input type="number" class="form-control" id="inputNit" placeholder="Nit">
                </fieldset>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>