<div class="container">
    <br>
    <h4 style="margin-left:20px" class="tittle mb-6">Mi carrito</h4>
    <hr>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Nombre del producto</th>
                <th scope="col">Distribuidor</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Precio Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><img class="img" src="https://www.preview.ph/preview-2.jpg" class="mr-2" alt="..."></td>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>
                <td width="20px"><input type="number" class="form-control cantidad" value="1" min="1" max="10"></td>
                <td>$00.000</td>
                <td>$00.000</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td width="30px"><img class="img" src="https://www.preview.ph/preview-2.jpg" class="mr-2" alt="..."></td>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum</td>
                <td width="20px"><input type="number" class="form-control cantidad" value="1" min="1" max="10"></td>
                <td>$00.000</td>
                <td>$00.000</td>
            </tr>
        </tbody>
    </table>
</div>
