<div class="container">
    <br>
    <h4 style="margin-left:20px">Mi catalogo</h4>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://www.preview.ph/preview-2.jpg"></div>
                <figcaption class="info-wrap">
                    <h4 class="title">Another name of item</h4>
                    <p class="desc">Some small description goes here</p>
                </figcaption>
                <div class="bottom-wrap">
                    <a [routerLink]="['/editar-producto']" class="btn btn-sm btn-primary float-right">Editar Producto</a>
                    <div class="price-wrap h5">
                        <span class="price-new">$1280</span>
                    </div>
                    <!-- price-wrap.// -->
                </div>
                <!-- bottom-wrap.// -->
            </figure>
        </div>
        <!-- col // -->
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://www.preview.ph/preview-2.jpg"> </div>
                <figcaption class="info-wrap">
                    <h4 class="title">Good product</h4>
                    <p class="desc">Some small description goes here</p>
                </figcaption>
                <div class="bottom-wrap">
                    <a href="" class="btn btn-sm btn-primary float-right">Editar producto</a>
                    <div class="price-wrap h5">
                        <span class="price-new">$1280</span>
                    </div>
                    <!-- price-wrap.// -->
                </div>
                <!-- bottom-wrap.// -->
            </figure>
        </div>
        <!-- col // -->
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="https://www.preview.ph/preview-2.jpg"></div>
                <figcaption class="info-wrap">
                    <h4 class="title">Product name goes here</h4>
                    <p class="desc">Some small description goes here</p>
                </figcaption>
                <div class="bottom-wrap">
                    <a href="" class="btn btn-sm btn-primary float-right">Editar Producto</a>
                    <div class="price-wrap h5">
                        <span class="price-new">$1280</span>
                    </div>
                    <!-- price-wrap.// -->
                </div>
                <!-- bottom-wrap.// -->
            </figure>
        </div>
        <!-- col // -->
    </div>
</div>
