/* You can add global styles to this file, and also import other style files */

html,
body {
    background-color: #FAFAFA;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 0;
    margin: 0;
}
